{% extends 'layout.jinja2' %}

{% block content %}
{% if paginator.items %}
    <h2>Blog posts</h2>

    <ul>
        {% for blog_post in paginator.items %}
            <li>
                <a href="{{ request.route_url('blog', id=blog_post.id, slug=blog_post.slug) }}">
                    {{ blog_post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {{ paginator.pager() |safe }}
{% else %}
    <p>Sorry we could not find anny blog posts.</p>
{% endif %}
<p>
<a href="{{ request.route_url('blog_action', action='create') }}">
    Create a new post
</a>
</p>
{% endblock %}